<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BootJobs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Candidato_controller</display-name>
    <servlet-name>Candidato_controller</servlet-name>
    <servlet-class>com.bootjobs.controller.Candidato_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidato_controller</servlet-name>
    <url-pattern>/Candidato_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Annuncio_controller</display-name>
    <servlet-name>Annuncio_controller</servlet-name>
    <servlet-class>com.bootjobs.controller.Annuncio_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Annuncio_controller</servlet-name>
    <url-pattern>/Annuncio_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Territorio_controller</display-name>
    <servlet-name>Territorio_controller</servlet-name>
    <servlet-class>com.bootjobs.controller.Territorio_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Territorio_controller</servlet-name>
    <url-pattern>/Territorio_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaAnnuncio_controller</display-name>
    <servlet-name>ModificaAnnuncio_controller</servlet-name>
    <servlet-class>com.bootjobs.controller.ModificaAnnuncio_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaAnnuncio_controller</servlet-name>
    <url-pattern>/ModificaAnnuncio_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Province_controller</display-name>
    <servlet-name>Province_controller</servlet-name>
    <servlet-class>com.bootjobs.controller.Province_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Province_controller</servlet-name>
    <url-pattern>/Province_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Province</display-name>
    <servlet-name>Province</servlet-name>
    <servlet-class>com.bootjobs.controller.Province</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Province</servlet-name>
    <url-pattern>/Province</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaEvento_controller</display-name>
    <servlet-name>RicercaEvento_controller</servlet-name>
    <servlet-class>com.bootjobs.controller.RicercaEvento_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaEvento_controller</servlet-name>
    <url-pattern>/RicercaEvento_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ricerca_controller</display-name>
    <servlet-name>Ricerca_controller</servlet-name>
    <servlet-class>com.bootjobs.controller.Ricerca_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ricerca_controller</servlet-name>
    <url-pattern>/Ricerca_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comuni_controller</display-name>
    <servlet-name>Comuni_controller</servlet-name>
    <servlet-class>com.bootjobs.controller.Comuni_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comuni_controller</servlet-name>
    <url-pattern>/Comuni_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Territorio1_cotroller</display-name>
    <servlet-name>Territorio1_cotroller</servlet-name>
    <servlet-class>com.bootjobs.controller.Territorio1_cotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Territorio1_cotroller</servlet-name>
    <url-pattern>/Territorio1_cotroller</url-pattern>
  </servlet-mapping>
</web-app>